.preview-images p {
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.preview-images img {
  display: inline-block;
  width: 30%;
}

@font-face {
  font-family: MMT;
  src: url('/fonts/MMT-Regular.ttf');
  font-display: swap;
}

.preview-lyric {
  font-family: MMT, '沐目体';
  font-size: 1.5rem;
}

.live-textarea {
  width: calc(100% - 1rem);
  height: 6rem;
  padding: 0.5rem;
  resize: vertical;
  border: 1px solid #f5f5f5;
  margin: 0 auto;
  display: block;
  border-radius: 0.75rem;
}
.live-content {
  white-space: pre-line;
  font-family: MMT, '沐目体';
  font-size: 1.5rem;
  margin-left: 0.5rem !important;
  margin-right: 0.5rem !important;
  margin-bottom: 1rem !important;
}
[v-cloak] {
  display: none;
}
