.preview-images p{
  display: flex;
  width: 100%;
  justify-content: space-around;
}
.preview-images img {
  display: inline-block;
  width: 30%;
}

@font-face {
  font-family: MMT;
  src: url('/fonts/mmt_1.5.ttf');
  font-display: swap;
}

.preview-lyric {
  font-family: MMT,"沐目体";
  font-size: 1.5rem;
}

.netease-music {
  min-height: 90px;
}

.comment-163 {
  font-family: MMT,"沐目体";
  position: relative;
  border: 1px solid #f5f5f5;
  padding: .75em;
  border-radius: .75rem;
  color: #272626;
  cursor: pointer;
  margin-top: 1rem;
}
[data-theme='dark'] .comment-163 {
  color: #f5f5f5;
}
.pic-backdrop {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-repeat: no-repeat;
  filter: blur(10px);
  background-size: cover;
  background-position: center;
  border-radius: .75rem;
  z-index: -1;
  opacity: 0.75;
}
.commentator {
  display: flex;
  align-items: center;
}
.comment-avatar {
  width: 3.125em;
  height: 3.125em;
  border-radius: 50%;
  margin-right: .75em;
  border: 1px solid #f5f5f5;
  padding: .125em;
}
.comment-nickname {
  position: relative;
  font-weight: 500;
  font-size: 1.2rem;
  text-decoration: none;
  display: inline-block;
}
.comment-nickname:not(:empty)::after {
  content: "：";
  margin-right: 0.25em;
}
.comment-content {
  word-wrap: break-word;
  word-break: break-all;
  font-size: 1.5rem;
  line-height: 2rem;
  position: relative;
  margin-left: 2.8em;
}
.music-info {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
  font-weight: 500;
  font-size: 1.2rem;
  margin-top: .75em;
}
.music-name:not(:empty)::after {
  content: "-";
  margin-left: .25rem;
  margin-right: .25rem;
}

.live-textarea {
  width: calc(100% - 1rem);
  height: 6rem;
  padding: .5rem;
  resize: vertical;
  border: 1px solid #f5f5f5;
  margin: 0 auto;
  display: block;
  border-radius: .75rem;
}
.live-content {
  white-space: pre-line;
  font-family: MMT,"沐目体";
  font-size: 1.2rem;
  margin-left: .5rem!important;
  margin-right: .5rem!important;
  margin-bottom: 1rem!important;
}
[v-cloak]{
  display: none;
}