/*樱花*/
.snowfall-flakes{
  animation:sakura 1s linear 0s infinite;
}
@keyframes sakura{
  0% {transform:rotate3d(0, 0, 0, 0deg);}
  25%{transform:rotate3d(1, 1, 0, 60deg);}
  50%{transform:rotate3d(1, 1, 0, 0deg);}
  75%{transform:rotate3d(1, 0, 0, 60deg);}
  100%{transform:rotate3d(1, 0, 0, 0deg);}
}
/* 打字机 */
.loveTyping{
  font-family: 华文行楷,MMT;
  font-size: 1.2rem;
  background: rgba(255,255,255,0.2);
  padding: 20px;
  border-radius: 5px;
  min-height: 500px;
}

.love-path,
.love-times{
  font-family: STLiti;
  font-weight: bold;
  font-size: 1rem;
}
.love-times{
  color: #f00;
  font-size: 1.5rem;
}

.tomato{
  text-align: center;
  font-family: 华文行楷,MMT;
  font-size: 1.5rem;
  line-height: 50px;
  font-weight: 500;
  margin: 0;
  color: #dc143c;
}

details{
  font-family: 华文行楷,MMT;
  font-size: 1.2rem;
}
.love-journal{
  max-height: 500px;
  overflow: auto;
  background: rgba(255,255,255,0.2);
  padding: 20px;
  border-radius: 5px;
}
.love-summary{
  width: 300px;
  text-align: center;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  padding: 2px 5px;
  margin: 0 auto;
  background: #fff;
  border-radius: 10px;
}
.love-summary:hover {
  background: #3e5164;
  color: #fff;
  box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
}