.single-title,
.single-subtitle,
.content {
  font-family: MMT;
}
.single-title {
  font-size: 2rem !important;
}
.tomato {
  text-align: center;
  font-size: 1.5rem;
  line-height: 2rem;
  font-weight: 500;
  margin: 0;
  color: #dc143c;
}
.content {
  font-size: 1.3rem;
}
.fixit-decryptor-container {
  font-size: 1rem;
}
.content > p,
.typeit {
  margin: 1rem 0 !important;
}

.red {
  color: #f00;
}

.image-caption {
  font-weight: bold !important;
}

@font-face {
  font-family: MMT;
  src: url('/fonts/mmt_zxm.ttf');
  font-display: swap;
}
