/**
 * @Name: custom.styl
 * @Description: Custom styles. && mobile style keep default mostly.
 * @Author: lruihao.cn
 * @Update: 2019-09-06 18:35
 */
@import "shaky.css";

//全局样式、鼠标
* {
  outline:  none;
  cursor: url(/images/default.cur),auto;
}
:active {
  cursor: url(/images/pointer.cur),auto;
}
:link {
  cursor: url(/images/pointer.cur),auto;
}

//表格
.post-body>table{
  border-radius: 5px;
  border: none;
  box-shadow: 0 0 5px #888;
}
.post-body>table td,th {
  border-right: 1px solid #ccc;
}
.post-body>table td:last-child,th:last-child {
  border-right: none;
}
.post-body>table>tbody tr:last-child td {
  border-bottom: none;
}
.post-body>table>tbody tr:last-child td:last-child{
  border-radius: 0 0 5px 0;
}
.post-body>table>tbody tr:last-child td:first-child{
  border-radius: 0 0 0 5px;
}

.menu .menu-item .badge {
  background-color: #bbb;
}

//选项卡
.post-body .tabs ul.nav-tabs {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.post-body .tabs .tab-content {
  background: rgba(255,255,255,0.2);
  border-radius: 0 0 5px 5px;
  box-shadow: 0 2px 3px #888;
}
.post-body .tabs ul.nav-tabs li.tab {
  background: #fff;
  border: 1px solid #ddd;
  border-top: 2px solid #63bb63;
  border-radius: 5px 5px 0 0;
  margin: 0;
}
.post-body .tabs ul.nav-tabs li.tab:hover,
.post-body .tabs ul.nav-tabs li.tab.active {
  border-top: 2px solid #fc6423;
  border-left: 1px solid #ddd;
  border-right: 1px solid #ddd;
  border-bottom: none;
  background: rgba(255,255,255,0.2);
  padding-bottom: 0;
  margin-bottom: 0;
}

//微信公众号
.weixin-box {
  position: absolute;
  bottom: 45px;
  left: 10px;
  border-radius: 5px;
  box-shadow: 0 0 10px rgba(0,0,0,.35);
}
.weixin-menu {
  position: relative;
  height: 24px;
  width: 24px;
  cursor: url(/images/pointer.cur),auto;
  background: url(https://ziyuan.lruihao.cn/images/wechat.svg);
  background-size: 24px 24px
}
.weixin-hover {
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 0;
  border-radius: 3px;
  box-shadow: 0 0 10px 0 rgba(0,0,0,.35);
  background: url(https://ziyuan.lruihao.cn/images/wechat-qcode.jpg);
  background-color: #fff;
  background-repeat: no-repeat;
  background-size: 150px 150px;
  transition: all .35s ease-in-out;
  z-index: 1024;
  opacity: 0
}
.weixin-menu:hover .weixin-hover {
  bottom: 24px;
  left: 24px;
  height: 170px;
  width: 150px;
  opacity: 1
}
.weixin-description {
  opacity: 0;
  position: absolute;
  bottom: 3%;
  left: 5%;
  right: 5%;
  font-size: 12px;
  transition: all .35s cubic-bezier(1,0,0,1)
}
.weixin-menu:hover .weixin-description {
  opacity: 1
}

//相关文章
.popular-posts-header {
  font-size: 20px;
  font-weight: bold;
}
.popular-posts{
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

//转发、精品
.post-repost-flag,
.post-delicate-flag {
  display: inline-block;
  color: #5acc79;
  font-size: 18px;
  margin-right: 10px;
  border-bottom: none;
  vertical-align: middle;
}
.post-repost-flag:hover {
  color: #fc6423;
}
.post-delicate-flag{
  color: #d2691e;
}

//CHROME浏览器中自定义滚动条样式
::-webkit-scrollbar { 
  width: 8px; //竖
  height: 8px; //横
}   
::-webkit-scrollbar-track-piece {
  background-color: #555;
  border-radius: 5px;
}   
::-webkit-scrollbar-thumb{
  height: 50px;
  background-color: #1b1b1b;
  -webkit-border-radius: 5px;
}  


.github-corner svg {
  width: 80px;
  height: 80px;
  +mobile(){
    width: 40px;
    height: 40px;
  }
}

//“> ”书签颜色
blockquote {
  padding: 0 15px;
  color: #666;
  border-left: 4px solid #ccc;
}

//顶部条
.headband {
  height: 10px;
  background: none;
  +mobile(){
    height: 0px;
  }

}

//背景图
body { 
  //padding: 20px 0;
  background: none;
  background-image: url(/images/bg.jpg);
  background-attachment: fixed; // 不随屏幕滚动而滚动fixed,scroll,inherit
  background-repeat: no-repeat; // 如果背景图不够屏幕大小则重复铺，改为no-repeat则表示不重复铺
  background-size: cover; // contain等比例铺满屏幕 //cover拉伸铺满
  background-position: bottom;//x,y轴调整
  +mobile(){
    background: #f5f7f9;
  }
}


//首部背景
//彩色linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%)
.site-meta { 
  height: 100px;
  background: none;
  background-image: url(/images/site-meta.jpg);
  background-size: cover;
  +mobile(){
    height: 80px;
    background: #222;
  }
}

//头像
.site-author-image {
  margin: 5px auto;
  max-width: 100px;
  border-radius: 50%;
  transition: all 1s;
}
.site-author-image:hover {
  transform: rotate(360deg) scale(1.1);
}

//菜单栏
.header-inner {
  background: rgba(255, 255, 255, 0.7);
  border-radius: 10px;
  +mobile(){
    background: white;
    border-radius: 0px;
    box-shadow: 0 0 14px #cacbcb;
  }
}
.menu-item-active a {
  background: rgba(255,255,255.0.5);
  +mobile(){
    background: #fff;
  }
}
//多级菜单栏
.sub-menu {
  //width: 40%;
  background: rgba(255, 255, 255, 0.5)!important;
  border-radius: 10px;
  box-shadow: 0 0 14px #cacbcb;
  +mobile(){
    background: #fff!important;
    border-radius: 0px;
  }
}
.sub-menu .menu-item-active a {
  background: none!important;
  +mobile(){
    background: #fff!important;
  }
}

//侧栏
.sidebar {
  background: none;
  border-radius: 10px;
}
.sidebar-inner {
  padding: 10px 10px 10px;
  background: rgba(255,255,255,0.7);
  border-radius: 10px;
}
.links-of-blogroll-title {
  margin-top: 10px;
}

//尾部
.footer {
  color: black;
  font-family: STLiti; //"华文隶书"
  font-size: 15px;
  //bottom: -28px;
  //border-radius: 10px;
  //background: rgba(255, 255, 255, 0);

  +mobile() {
    font-size: 12px;
    bottom: -20px;
    //border-radius: 0px;
    //background: rgba(255, 255, 255, 0.1);
  }
}
.busuanzi-count {
  color: DarkSlateGray;
}


//选中文字的颜色
::selection {
  background: #00CED1;
  color: #fff;
}

//代码块
code {
  margin: 2px;
  color: #c7254e;
  background-color: #f9f2f488;
  border-radius: 2px;
}
.highlight figcaption {
  background: #2d2d2d;
  border-bottom: 1px solid #111;
}
pre .deletion {
  background: #dd6b3a;
}
pre .addition {
  background: #518f7b;
}


//夜间模式
.cover {
  position:fixed;
  top: 0px;
  left: 0px;
  outline:5000px solid rgba(0, 0, 0, 0);
  z-index: 99999;
}

//沐目体等字体样式
@font-face {
 font-family: MMT;
 src: url("/fonts/MMT_579767_SOAJ0.ttf");
}
@font-face {
 font-family: mmt-eg;
 src: url("/fonts/mmt-eg.ttf");
}
@font-face {
 font-family: STLiti;
 src: url("/fonts/STLITI.TTF");
}
@font-face {
 font-family: Title;
 src: url("/fonts/Title.ttf");
}

.site-title {
  font-family: Title;
  font-size:220%;
  +mobile() {
    margin-top: 5px;
  }
}
.site-subtitle {
  font-family: Title;
  font-size: 16px;
  color: #eff8f0;
  margin-top: 22px;
  +mobile() {
    font-size: 14px;
    color: #ddd;
    margin: 10px 10px 0;
  }
}
/*
.site-description {
  font-family: STLiti;
  font-size: 15px;
  line-height: 1.6em;
}
*/


//分类
//调节max-height
.category-list-item{
 list-style: none!important;
}
.category-all{
  min-height: 600px;
}
.category-list{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  width: 100%;
  max-height: 450px;
  align-content: space-around;
}
.category-list-link {
  border-bottom: none;
  width: auto;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: 0.2s ease-out;
  padding: 2px 10px;
  margin: 5px;
  background: #eee;
  border-bottom: none;
  border-radius: 12px;
  &:hover {
    text-decoration: none;
    background: rgba(100,154,182,0.902);
    color: #fff !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
}

//标签、文章页内标签样式
.posts-expand .post-tags {
  margin: 40px 10px 0;
  text-align: center;
}
.posts-expand .post-tags a {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  font-family: 'Comic Sans MS', sans-serif;
  transition: 0.2s ease-out;
  padding: 3px 5px;
  margin: 5px;
  background: #eee;
  border-bottom: none;
  border-radius: 15px;
  &:hover {
    background: rgba(100,154,182,0.902);
    color: #fff;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
}
.tag-cloud a {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: 0.2s ease-out;
  padding: 2px 10px;
  margin: 5px;
  background: #eee;
  border-bottom: none;
  border-radius: 12px;
  &:hover {
    text-decoration: none;
    background: rgba(100,154,182,0.902);
    color: #fff !important;
    box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  }
}


//文章标题
.posts-expand .post-title {
  font-size: 21px
  border-left: #649ab6 2px solid;
  font-weight: bold;
  padding-left: 10px;
  +mobile(){
    font-size: 16px;
    border: none;
    padding: 0;
  }
}
.posts-expand .post-title, .posts-expand .post-meta {
  text-align: left;
  +mobile(){
    text-align: center;
  }
}
.page-post-detail .post-title, .page-post-detail .post-meta {
  text-align: center;
  border-left: none;
  padding-left: 0;
}
.posts-expand .post-title-link {
  line-height: 1.5;
}

//修改默认按钮样式#bdc3c7
.post-button {
  text-align: right;
}
.btn {
  padding: 3px 15px
  color: #000;
  background: #fff;
  border: 0px;
  border-radius: 15px;
  transition: all 0.1s;
  &:hover {
    color: #fff;
    background: #34495e;
  }
  &:active {
    transform: scale(0.95);
  }
  +mobile() {
    padding: 1px 13px;
    background: #fff;
    border: 2px solid #555;
    &:hover {
      color: #fff;
      background: #000;
    }
  }
}

//时间线文章
.posts-collapse .post {
  margin: 20px 20px 0 0;
  +mobile() {
    margin: 20px 0;
  }
}

//页码栏
.pagination, .pagination .prev, .pagination .next, .pagination .page-number {
  border:none;
}
.pagination .page-number.current {
  border-radius: 14px;
  background: #34495e;
}
.pagination {
  margin: 30px auto 0;
  +mobile() {
    margin-bottom: 20px;
  }
}

//去掉图片边框
.posts-expand .post-body img {
  border: 0px;
}

//文章样式修改
.posts-expand {
    padding-top: 20px;
}
.content-wrap {
  padding: 40px 20px;
  border-radius: 10px;
  background: rgba(255, 255, 255, 0.5);//none透明
  +mobile() {
    padding: 0px;
    border-radius: 0px;
    background: white;//rgba(255, 255, 255, 0.1)
  }
}
// 文章内链接文本样式
.post-body p a {
  &:hover {
    color: #fc6423;
    border-bottom: 1px solid #fc6423;
  }
  &:active {
    color: #fc625d;
    border-bottom: 1px solid #fc625d;
  }
}
//文章阴影
.post, .page {
  margin-bottom: 20px;
  padding: 20px;
  box-shadow: 0 0 14px #cacbcb;
  background: rgba(255,255,255,0.3)
  border-radius: 10px;
  +mobile() {
    padding: 2px 12px;
    border-radius: 0px;
    box-shadow: 0 0 1px #cacbcb;
  }
}
//文章分割线
.posts-expand .post-eof {
  display: block;
  margin: 0px auto 20px;
  width: 0;
}

//版权信息
.post-copyright {
  font-size: 0.85rem;
  line-height: 1.6em;
  word-break: break-all;
}

//评论区
.comments {
  padding: 20px;
  box-shadow: 0 0 14px #cacbcb;
  background: rgba(255,255,255,0.3);
  margin: 0;
  border-radius: 10px;
  +mobile() {
    margin: 20px;
    padding: 12px;
    border-radius: 0px;
    box-shadow: 0 0 1px #cacbcb;
  }
}