// Custom styles.

//顶部条
.headband {
  height: 0;
}

//背景图
body { 
	background-image: linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%);
    //background-image: url(/images/background.jpg);
    //background-attachment: fixed; // 不随屏幕滚动而滚动fixed,scroll,inherit
    //background-repeat: no-repeat; // 如果背景图不够屏幕大小则重复铺，改为no-repeat则表示不重复铺
    //background-size: cover; // contain等比例铺满屏幕 //cover拉伸铺满
    //background-position: 0% 20%;
}

// 主页文章添加阴影效果
//.post {
  // margin-top: 0px;
  // margin-bottom: 60px;
 //  padding: 25px;
 //  -webkit-box-shadow: 0 0 5px rgba(202, 203, 203, .5);
 //  -moz-box-shadow: 0 0 5px rgba(202, 203, 204, .5);
//}

//首部背景url(https://i.loli.net/2018/07/22/5b54763f0896c.jpg)
//彩色linear-gradient(90deg, #F79533 0%, #F37055 15%, #EF4E7B 30%, #A166AB 44%, #5073B8 58%, #1098AD 72%, #07B39B 86%, #6DBA82 100%)
.site-meta {
    height: 100px;
    background-image: url(https://i.loli.net/2018/07/22/5b54763f0896c.jpg);
    background-size: cover;
}

//尾部
.footer {
  font-size: 15px;
  bottom: -30px;
  background: rgba(255, 255, 255, 0.5);

  +mobile() {
    font-size: 12px;
    background: rgba(255, 255, 255, 0.7);
  }
}


code {
    color: #7B68EE;
    background: #fbf7f8;
    margin: 2px;
}
// 大代码块的自定义样式
.highlight, pre {
    margin: 5px 0;
   padding: 5px;
    border-radius: 3px;
}
.highlight, code, pre {
    border: 1px solid #d6d6d6;
}

//鼠标样式

* {
    cursor: url(/images/default.cur),auto;
  }
:active {
    cursor: url(/images/pointer.cur),auto;
  }
:link {
  	cursor: url(/images/pointer.cur),auto;
  }


//夜间模式
.cover{
    position:fixed;
    top: 0px;
    left: 0px;
    outline:5000px solid rgba(0, 0, 0, 0);
    z-index: 99999;
}

//沐目体
@font-face {
 font-family: MMT;
 src: url("/media/MMT_579767_SOAJ0_0.ttf");
}

@font-face {
 font-family: STLiti;
 src: url("/media/STLITI.TTF");
}

@font-face {
 font-family: STXK;
 src: url("/media/STXINGKA.TTF");
}


//输入框美化
input {
    border: 1px solid #ccc;
    padding: 5px 0px;
    border-radius: 3px;
    padding-left: 5px;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
    -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow
        ease-in-out .15s;
    -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out
        .15s;
    transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s
}
 
input:focus {
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
        rgba(102, 175, 233, .6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075), 0 0 8px
        rgba(102, 175, 233, .6)
}
