/* hack valine comment */
#valine {
  max-height: 500px;
  overflow-y: scroll;

  .vcount {
    position: sticky;
    top: 0;
    z-index: 1;
    cursor: pointer;
    text-align: right;
    font-size: 1rem;
    background-color: #fafaf8;

    [data-theme='dark'] & {
      background-color: #292a2e;
    }

    &::after {
      content: '来自 Valine';
      margin-left: 0.5rem;
      font-size: 50%;
      color: var(--fi-secondary);
    }
  }
  

  .vpanel,
  .vempty,
  .vat,
  .vpower {
    display: none !important;
  }
}
